div{
    height: 100px;
    width:100px;
    border: 2px solid black;
    display: inline-block;
    /* margin: 25px;
    padding: 25px;
    display: inline; */
}
#div1{
    background-color: rgba(255, 0, 0,0.5);
    position: static;
}
#div2{
    background-color: rgb(0, 255, 170);
    position: relative;
   top :20px; 
   left: 10px;
}
 #div3{
    background-color: green;
    /* position: absolute; */
    position: sticky;
    top: 0px;
    left: 10px;
}
#div4{
    background-color: rgb(87, 86, 86);
    position: fixed;
    top: 0;
    /* width: 100vw; */
    
}
